.App {
    min-height: 100vh;

    background-color: var(--black);
    color: var(--white);
}

.App-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: none;

    justify-items: center;
    gap: 50px;
}

.App-container > h1 {
    font-size: 3rem;
    margin: 5rem;
}

button {
    transition: box-shadow ease-out 150ms;
}

button:hover {
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);
}